extends layout

block content
  h1= title
  
  div.container-fluid
    div.row
        each insect in results
            - let destination = `dispatch("/insects/update?id=${insect._id}")`
            div.col-sm-2
                p Name: #{insect.name}
                p Size: #{insect.size} 
                p Life Span: #{insect.lifespan} weeks
                button.btn.btn-primary.mt-1(onclick=destination) Update
    script.
        function dispatch(path){
            window.location.href = path;
        }