extends layout

block content
  h1.text-primary.mb-4= title

  if (toShow == null)
    h2.text-danger No insect instance found.
  else
    - let insectid = toShow._id
    - let name = toShow.name
    - let size = toShow.size
    - let lifespan = toShow.lifespan

    div.card.shadow.p-4.mb-5.bg-white.rounded(style="max-width: 500px;")
      h4.mb-3.text-info Insect Details
      div.row.mb-2
        div.col-sm-4 ID:
        div.col-sm-8 #{insectid}
      div.row.mb-2
        div.col-sm-4 Name:
        div.col-sm-8 #{name}
      div.row.mb-2
        div.col-sm-4 Size:
        div.col-sm-8 #{size}
      div.row.mb-2
        .col-sm-4.bold Lifespan:
        div.col-sm-8 #{lifespan}
